/** Main colors */
$color-black: #000;
$color-white: #FFF;

/** Text colors */
$text-secondary: #4D4D4D;
$text-dark-grey: #747474;
$text-medium-grey: #ABACAC;
$text-dirty-blue: #ADB4BD;

/** Accent colors */
$accent-orange: #E56900;
$accent-yellow: #FFE897;
$accent-green: #007C70;
$accent-red: #F41A0C;
$accent-light-yellow: #FCFCCA;
$accent-light-blue: #F1F9FF;
$accent-light-orange: #FFEED9;
$accent-light-green: #D0F1E7;
$accent-light-red: #FFDEDC;

/** Background colors */
$background-color-secondary: #F4F5F6;
$background-color-azure: #F0FFFF;

/** Primary colors */
$primary-blue: #4A7DF9;
$primary-blue-hover: #2F60D6;
$primary-blue-pressed: #2754C1;

/** Secondary colors */
$secondary-light: #F9FCFF;
$secondary-light-blue: #DBEDFF;
$secondary-light-grey: #F4F6F8;
$secondary-grey: #D9D9D9;
$secondary-dark-grey: #AAABAC;
$dev-pink: #F32549;